$body-bg: #fbf8f1;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
  //height: 100vh;
  display: flex;
  flex-direction: column;
}

.Article-cards {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Article-cards .article-card {
  width: 25rem;
}

.article-display h1 {
  text-align: center;
}
.article-img {
  width: 500px;
}
.article-flex {
  display: flex;
  align-items: stretch;
}

.article-left {
  flex: 1;
}

.article-right {
  margin-top: 4px;
  flex: 1;
  text-align: center;
}

.article-user-btn {
  display: flex;
  flex-direction: column;
}

.article-user-btn button {
  margin: 10px;
  padding: 5px;
}

.custom-modal.review-modal {
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 18px;
  position: relative;
  margin: auto;
  width: 100vh;
  font-weight: bold;
}

.custom-modal.delete-article {
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 18px;
  position: relative;
  margin: auto;
  max-width: 600px;
  width: 90%;
  font-weight: bold;
}
.custom-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.custom-modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.custom-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.custom-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid var(--secondary);
}

/*------------- CSS Variables ---------------*/

:root {
  --main-color: #087096;
  --secondary: rgb(231, 165, 43);
  --logout-button-color: #e46432;
}

/*---------- Basic Style ---------*/

body {
  color: var(--secondary);
  padding: 0;
  font-family: "Roboto";
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.fill {
  flex-grow: 1;
}

main {
  margin: 1rem auto;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

p {
  color: var(--main-color);
}

button {
  margin: 0 2rem;
}

article {
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

small {
  display: block;
  font-style: italic;
}

form {
  margin: 1rem 0;
  padding: 1.2rem;
  border-radius: 5px;
  background-color: #2f86a6cb;
}

.review-input {
  height: 50px;
}

fieldset {
  margin-bottom: 5rem;
}

/*----------- Classes ------------*/

.clear {
  clear: both;
  height: 60px;
}

/*----------Navigation bar --------------*/
.navbar {
  background-color: var(--main-color);
  color: white;
}

.navbar-nav.right-nav {
  align-items: center;
}

.navbar-nav.admin-nav {
  background-color: var(--secondary);
}

.nav-link {
  color: var(--secondary);
}

.custom-btn {
  background-color: var(--main-color);
  color: var(--secondary);
  border-color: rgb(231, 165, 43);
  margin: 0;
}

.custom-btn:hover {
  background-color: var(--secondary);
  color: var(--main-color);
}

/*----------- Website ------------*/

.homepage h1 {
  margin-top: 1rem;
  font-style: italic;
}

.homepage span {
  text-decoration: underline var(--main-color);
}

.reviews {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.reviews ul {
  list-style: none;
}
.reviews .content {
  font-weight: bold;
}

.reviews button {
  margin: 0 2rem;
}

.reviews .author {
  font-style: italic;
}

#header-search {
  width: 100%;
  border-radius: 5px;
  height: 3.5rem;
  border: 1px solid black;
}

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article-card {
  width: 20rem;
  margin: 1rem 2rem;
}

.article-update-btn {
  color: black;
}

/*-------- Footer ---------*/

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px;
  color: var(--secondary);
}

.footer-img {
  margin-top: 1rem;
  width: 60px;
  height: auto;
  text-align: center;
}
/*----------------- Tablet ----------------*/

@media screen and (min-width: 768px) {
  .logo {
    width: 50px;
  }

  .navbar-brand .brand-name {
    display: inline-block;
  }
}
