$body-bg: #fbf8f1;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.Article-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-display {
  justify-content: space-between;
  display: flex;
}

.article-user-btn {
  display: flex;
  flex-direction: column;
}

.article-user-btn button {
  margin: 10px;
  padding: 5px;
}

.custom-modal {
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 18px;
  position: relative;
  margin: auto;
  max-width: 600px;
  width: 90%;
  font-weight: bold;
  // pointer-events: auto;
}
.custom-modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.custom-modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.custom-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.custom-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid var(--secondary);
}

/***** CSS Variables *****/

:root {
  --main-color: #2f86a6;
  --secondary: rgb(231, 165, 43);
  --logout-button-color: #e46432;
}

/***** Basic Attributes *****/

body {
  color: var(--secondary);
  margin-bottom: 80px;
}

main {
  margin: 1rem auto;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--secondary);
}

article {
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

small {
  display: block;
  font-style: italic;
}

form {
  border: 2px solid var(--secondary);
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

fieldset {
  margin-bottom: 1rem;
}

/***** Classes *****/

/* Flexbox */
.flex {
  display: flex;
}

/* Center the content */
.center {
  text-align: center;
}

/* Align the content to the right */
.align-right {
  text-align: right;
}

/* Navigation bar */
.navbar {
  background-color: var(--main-color);
  color: white;
}

.navbar-nav.right-nav {
  align-items: center;
}

.navbar-nav.admin-nav {
  background-color: var(--secondary);
}

.nav-link {
  color: var(--secondary);
}

.custom-btn {
  background-color: var(--main-color);
  color: var(--secondary);
  border-color: rgb(231, 165, 43);
}

.custom-btn:hover {
  background-color: var(--secondary);
  color: var(--main-color);
}

/* Name of the website */

.navbar-brand .brand-name {
  padding: 0.25rem;
  display: None;
}

/* Pagination */
li.page-item .page-link {
  color: var(--main-color);
}

li.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.logout-button {
  background-color: var(--logout-button-color);
}

.logo {
  width: 35px;
  height: auto;
  text-align: center;
}

/*--------Footer---------*/

.footer {
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--main-color);
}
.footer .col {
  width: 190px;
  height: auto;
  float: right;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: var(--secondary);
  font-weight: normal;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-img {
  width: 60px;
  height: auto;
  text-align: center;
}

/*----------------- Tablet ----------------*/

@media screen and (min-width: 768px) {
  form {
    max-width: 50%;
  }

  .logo {
    width: 50px;
  }

  .navbar-brand .brand-name {
    display: inline-block;
  }
}

/*--------------- Desktop ---------------*/
@media screen and (min-width: 1025px) {
  .logo {
    width: 100px;
  }
}
